.row *{
    background-color: rgb(61, 181, 157);
    padding: 1em;
}
.row{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}